.button{
    width: auto;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    margin: 3px;    
}
canvas{
    border: solid 3px coral;
    margin:10px;
}
img{
    width: 30px;;
    height: 30px;
    border-radius: 0%;
}
h3{
    margin: 10px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    background-color: lightskyblue;
    border: solid cornflowerblue;
}